*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
body {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}
.container {
  background: #f6f5f5;
  margin: 30px;
  padding: 25px 50px;
  border-radius: 15px;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 30px;
  grid-gap: 12px;
  background: #ee6f57;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background: #f6f5f5;
  color: #145374;
  cursor: pointer;
}
.game-board > .cell:hover {
  opacity: 92%;
}
.container button {
  display: block;
  margin: 30px auto 0px;
  background: #f6f5f5;
  color: #ee6f57;
  border-radius: 15px;
  border: 3px solid #ee6f57;
  outline: none;
  font-size: 1.75rem;
  padding: 10px;
  cursor: pointer;
}

.container > button:hover {
  background: #ee6f57;
  color: #f6f5f5;
}
.title {
  text-align: center;
  color: #00334e;
}
.title > span {
  color: #ee6f57;
}
.playermessage {
  text-align: center;
  font-size: 1.2rem;
  margin: 15px;
  color: #00334e;
}

.score {
  display: flex;
  justify-content: space-between;
}
.score p {
  text-align: center;
  font-size: 0.85em;
  margin: 5px;
  color: #00334e;
  font-family: 'Dosis', sans-serif;
}
.score h3 {
  text-align: center;
  font-size: 1em;
  margin: 5px;
  color: #ee6f57;
}
.x {
  background-image: url(/img/cross.png);

  cursor: not-allowed;
}
.o {
  background-image: url(/img/circle.png);

  cursor: not-allowed;
}
.o,
.x {
  background-size: contain;
}
#player {
  color: #ee6f57;
}

.winner {
  opacity: 75%;
}
/* color pallet #f6f5f5 #145374 #00334e #ee6f57 */

@media only screen and (max-width: 540px) {
  .cell {
    height: 100px;
    width: 100px;
  }
  .game-board {
    grid-gap: 8px;
  }
  .container button {
    font-size: 0.75em;
    border: 2.5px solid #ee6f57;
  }
}

@media only screen and (max-width: 320px) {
  .cell {
    height: 50px;
    width: 50px;
  }
  .container button {
    font-size: 0.5em;
    border: 1px solid #ee6f57;
  }
  .title {
    font-size: 0.75em;
  }
  .title > span {
    font-size: 0.75;
  }
  .playermessage {
    font-size: 0.75em;
  }
}
